<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InsertMargin" value="1,2"/>
    <add key="MaxDeviation" value="20"/>
    <add key="LogFile" value="Log.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>





  </appSettings>
  
    <connectionStrings>
    <add name="MySqlConn" connectionString="server=192.168.1.34;user=root;database=StockRates;port=3306;password=shroot;Connect Timeout=128800;default command timeout=360;" providerName="System.Data.SqlClient"/>
    <add name="BackupMySqlConn" connectionString="server=192.168.1.38;user=root;database=StockRates;port=3306;password=shroot;Connect Timeout=128800;default command timeout=360;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
